@use "./styles/partials/_fonts.scss" as *;
@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_mixins.scss" as *;

.selected {
  background-color: #4CAF50;
  color: white;
  font-family: 'regular';
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
  color: black;
}

img {
  width: 200px;
  height: 300px;
}

div {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
