@font-face {
    font-family: "regular";
    src: url('./src/assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "demi";
    src: url('./src/assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: "bold";
    src: url('./src/assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "light";
    src: url('./src/assets/fonts/montserrat/Montserrat-Light.ttf');
}
