$primary-color: #FFFFFF; 
$primary-accent: #007bff;
$background: linear-gradient(135deg, #007bff, #00ffcc);

$secondary-color: #E1E1E1;
$secondary-accent: #00ffcc;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;