.footer {
    background-color: #F6F4F1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
  
    p {
      margin: 0;
      font-size: 0.875rem;
      color: #555;
    }
  }
  