@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: $background;
  color: $primary-color;

  &__discover {
    font-family: 'montserrat-demi';
  }

  &__container {
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 15.625rem;
    max-height: 21.875rem; 
    object-fit: contain;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
  }

  &__title {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  &__author {
    margin-top: 5px;
    font-size: 1rem;
  }

  &__button {
    padding: 0.625rem 1.25rem;
    font-size: 0.8rem;
    background-color: $primary-color; 
    color: $primary-accent;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: 'montserrat-light';

    &:hover {
      background-color: $secondary-color; 
      color: $secondary-accent;
  }
}
}