@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 0.2rem 1.25rem;
  
    &__logo {
      font-size: 1.5rem;
      font-family: 'montserrat-bold';
  background: -webkit-linear-gradient(135deg, #007bff, #00ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

      img {
        width: 100%;
        height: auto;
      }
  
      a {
        text-decoration: none;
        color: #333;
      }
    }
  
    &__nav {
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'montserrat-demi';
  
        li {
          margin-left: 20px;
  
          a {
            text-decoration: none;
            color: #555;
            font-size: 1rem;
            transition: color 0.3s;
  
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
  